{% extends 'layout.html.twig' %}

{% block title %}Conge index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/conge.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/conge.js') }}"></script>
{% endblock %}

{% block main %}
    <main>
        {% for flash_error in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <button class="request-btn" onclick="request()">Demander un congé</button>
        <table>
            <thead>
                <th>Nom de l'employé</th>
                <th>Raison</th>
                <th>Date requete</th>
                <th>Date debut</th>
                <th>Date fin</th>
                <th>Etat</th>
            </thead>
            <tbody>
                <tr id="request-row" style="display: none;">
                {{ form_start(form) }}
                    <td>{{app.user.first_name}}</td>
                    <td>
                        {# <input type="text" id="reason" name="{{field_name(form.reason)}}" value="{{field_value(form.reason)}}" placeholder="Raison" required> #}
                        <textarea style="resize: none;" name="{{field_name(form.reason)}}" id="reason" placeholder="Raison" maxlength="50" rows="2" required>{{field_value(form.reason)}}</textarea>
                        {{ form_errors(form.reason) }}
                    </td>
                    <td>
                        <input type="date" id="date" name="{{field_name(form.request_date)}}" value="{{field_value(form.request_date)}}" readonly required>
                        {{ form_errors(form.request_date) }}
                    </td>
                    <td>
                        <input type="date" id="startDate" name="{{field_name(form.start_date)}}" value="{{field_value(form.start_date)}}" required>
                        {{ form_errors(form.start_date) }}
                    </td>
                    <td>
                        <input type="date" id="endDate" name="{{field_name(form.end_date)}}" value="{{field_value(form.end_date)}}" required>
                        {{ form_errors(form.end_date) }}
                    </td>
                    <td class="d-flex flex-row gap-1">
                        <button onclick="" class="btn btn-success btn-sm" type="submit">Envoyer</button>
                        <button onclick="cancelRequest()" class="btn btn-danger btn-sm" type="reset">Annuler</button>
                    </td>
                {{ form_end(form) }}
                </tr>
                {% for conge in conges %}
                    <tr>
                        <td>{{ conge.user.first_name }}</td>
                        <td>{{ conge.reason }}</td>
                        <td>{{ conge.requestDate ? conge.requestDate|date('Y-m-d') : '' }}</td>
                        <td>{{ conge.startDate ? conge.startDate|date('Y-m-d') : '' }}</td>
                        <td>{{ conge.endDate ? conge.endDate|date('Y-m-d') : '' }}</td>
                        <td>
                            <form action="{{ path('update_conge_status', { id: conge.id }) }}" method="post">
                                <select name="status" onchange="selectChange(); this.form.submit()" autocomplete="off" id="select" class="custom-select {% if conge.status == 'pending' %} select-pending {% elseif conge.status == 'approved' %} select-approved {% else %} select-rejected {% endif %}" data-id="{{ conge.id }}" {% if conge.user.id == app.user.id %} disabled {% endif %}>
                                    <option value="pending" {% if conge.status == 'pending' %} selected="selected" {% endif %}>Pending</option>
                                    <option value="approved" {% if conge.status == 'approved' %} selected="selected" {% endif %}>Approved</option>
                                    <option value="rejected" {% if conge.status == 'rejected' %} selected="selected" {% endif %}>Rejected</option>
                                </select>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
