{% extends 'base.html.twig' %}

{% block title %}Conge{% endblock %}

{% block body %}
    <h1>Conge</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conge.id }}</td>
            </tr>
            <tr>
                <th>Request_date</th>
                <td>{{ conge.requestDate ? conge.requestDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Start_date</th>
                <td>{{ conge.startDate ? conge.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>End_date</th>
                <td>{{ conge.endDate ? conge.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ conge.reason }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ conge.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_conge_index') }}">back to list</a>

    <a href="{{ path('app_conge_edit', {'id': conge.id}) }}">edit</a>

    {{ include('conge/_delete_form.html.twig') }}
{% endblock %}
