{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/authentication.css') }}">
{% endblock %}

{% block body %}
    <main>
        <div class="title">
            <img src="{{ asset('icons/logo.png') }}" alt="" class="logo">
            <h1>WorkFlow</h1>
        </div>
        <h2>Connectez vous</h2>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div id="recaptcha-error" class="alert alert-danger" style="display: none;"></div>
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <form method="post" action="{{ path('app_login') }}">
            <div class="form-row">
                <div class="form-column">
                    <label for="username">Email</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    <label for="password">Password</label>
                    <div class="password-container">
                        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                        <span class="material-symbols-outlined" onclick="togglePassword(event)">visibility</span>
                    </div>
                </div>
            </div>
            <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
    
            <div class="form-row">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Remember me</label>
            </div>
           
            <div class="form-row">
                <div class="form-column">
                    <div class="g-recaptcha" data-sitekey="{{ no_captcha_site_key }}"></div>
                </div>
            </div>            
            <div class="form-row">
                <div class="form-column">
                    <input type="hidden" name="_main" value="/main">
                    <button class="btn btn-lg submit-btn" type="submit">Sign in</button>
                </div>
            </div>
        </form>
        <div>
            <p>Pas encore de compte? <a href="{{ path('app_register') }}">S'inscrire maintenant</a></p>
        </div>
    </main>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            const errorDiv = document.getElementById('recaptcha-error');
    
            form.addEventListener('submit', function (e) {
                const response = grecaptcha.getResponse();
                if (response.length === 0) {
                    e.preventDefault();
                    errorDiv.textContent = "Veuillez compléter le reCAPTCHA.";
                    errorDiv.style.display = 'block';
                } else {
                    errorDiv.style.display = 'none';
                }
            });
        });
    </script>
    
{% endblock %}
