{% for formation in pagination %}
      {% if is_granted('ROLE_RESPONSABLE') %}
      <a href="{{ path('app_formation_edit', { id: formation.id }) }}" class="card_a">
        <div class="card mb-3 shadow-sm border-0 mx-auto" style="max-width: 700px;">
          <div class="card-body">
            <h5 class="card-title">{{ formation.title }}</h5>
              <p class="card-text">
                <strong>Date : </strong> {{ formation.dateBegin|date('Y-m-d') }} → {{ formation.dateEnd|date('Y-m-d') }}<br>
                <strong>Description : </strong> {{ formation.description }}<br>
                <strong>Participants max :</strong> {{ formation.participantsMax }}
              </p>
            </a>
            {% endif %}
            {% if is_granted('ROLE_USER') and not is_granted('ROLE_RESPONSABLE') %}
              <div class="card mb-3 shadow-sm border-0 mx-auto" style="max-width: 700px;">
                <div class="card-body">
                  <h5 class="card-title">{{ formation.title }}</h5>
                  <p class="card-text">
                    <strong>Date : </strong> {{ formation.dateBegin|date('Y-m-d') }} → {{ formation.dateEnd|date('Y-m-d') }}<br>
                    <strong>Description : </strong> {{ formation.description }}<br>
                    <strong>Participants max :</strong> {{ formation.participantsMax }}
                  </p>
            {% endif %}
              <div class="d-flex justify-content-end gap-2">
                {% if is_granted('ROLE_RESPONSABLE') %}
                <a href="{{ path('app_formation_delete', { id: formation.id }) }}" class="btn supp btn-danger w-100" style="margin-top:5px;">🗑 Supprimer</a>
                {% endif %}
                {% if is_granted('ROLE_USER') and not is_granted('ROLE_RESPONSABLE') %}
                  {% set alreadyRegistered = false %}
                  {% for inscription in user_inscriptions %}
                    {% if inscription.formation.id == formation.id %}
                      {% set alreadyRegistered = true %}
                    {% endif %}
                  {% endfor %}

                  {% if  not alreadyRegistered and formation.participantsMax == 0 %}
                  <button class="btn btn-secondary btn-sm" style="font-size: 1rem;" disabled>Formation Pleine</button>

                  {% elseif alreadyRegistered %}
                  <button class="btn btn-success btn-sm" style="font-size: 1rem;" disabled>Déjà inscrit</button>

                  {% elseif formation.dateBegin|date('Y-m-d') < "now"|date("Y-m-d") %}
                  <button class="btn btn-secondary w-100 btn-sm" style="margin-top:5px;" disabled>Fermer</button>

                {% else %}
                <a href="{{ path('app_inscription_new', { id: formation.id }) }}" class="btn btn-primary w-100 btn-hover-shadow" style="margin-top:5px;">✅ S'inscrire</a>
                
              {% endif %}
            {% endif %}
                
            </div>
          </div>
      </div>
    {% else %}
  <div class="alert alert-info">No formations found.</div>

{% endfor %}