{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/authentication.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/register.js') }}" defer></script>
{% endblock %}

{% block body %}
    <main>
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <div class="title">
            <img src="{{ asset('icons/logo.png') }}" alt="" class="logo">
            <h1>WorkFlow</h1>
        </div>
        <h2>Créez votre compte</h2>
        {{ form_start(registrationForm, {'attr': {'novalidate':'novalidate'}}) }}
            <div class="form-errors">
                {{ form_errors(registrationForm) }}
            </div>
            <div class="form-row">
                <div class="form-column">
                    {{ form_label(registrationForm.first_name) }}
                    {{ form_widget(registrationForm.first_name) }}
                    {{ form_errors(registrationForm.first_name) }}
                </div>
                <div class="form-column">
                    {{ form_label(registrationForm.last_name) }}
                    {{ form_widget(registrationForm.last_name) }}
                    {{ form_errors(registrationForm.last_name) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email) }}
                    {{ form_errors(registrationForm.email) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    {{ form_label(registrationForm.number) }}
                    {{ form_widget(registrationForm.number) }}
                    {{ form_errors(registrationForm.number) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    {{ form_label(registrationForm.gouvernorat) }}
                    {{ form_widget(registrationForm.gouvernorat) }}
                    {{ form_errors(registrationForm.gouvernorat) }}
                </div>
                <div class="form-column">
                    {{ form_label(registrationForm.address) }}
                    {{ form_widget(registrationForm.address) }}
                    {{ form_errors(registrationForm.address) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    {{ form_label(registrationForm.password.first) }}
                    <div class="password-container">
                        {{ form_widget(registrationForm.password.first) }}
                        <span class="material-symbols-outlined" onclick="togglePassword(event)">visibility</span>
                    </div>
                    {{ form_errors(registrationForm.password.first) }}
                </div>
                <div class="form-column">
                    {{ form_label(registrationForm.password.second) }}
                    <div class="password-container">
                        {{ form_widget(registrationForm.password.second) }}
                        <span class="material-symbols-outlined" onclick="togglePassword(event)">visibility</span>
                    </div>
                    {{ form_errors(registrationForm.password.second) }}
                </div>
            </div>
            <div class="form-row" id="passwordLevelRow" style="display: none;">
                <div class="form-column">
                    <div class="alert alert-danger" id="passwordAlert" style="display: none;padding: .5rem; margin-bottom: .5rem;" role="alert">Votre mot de passe est compromis</div>
                    <p id="passwordLevelText"></p>
                    <div class="password-level-container">
                        <span class="password-level password-level-weak"></span><span class="password-level password-level-weak"></span><span class="password-level password-level-weak"></span><span class="password-level password-level-medium"></span><span class="password-level password-level-medium"></span>
                        <span class="password-level password-level-medium"></span><span class="password-level password-level-medium"></span><span class="password-level password-level-strong"></span><span class="password-level password-level-strong"></span><span class="password-level password-level-strong"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    <button type="submit" class="btn btn-lg submit-btn">S'inscrire</button>
                </div>
            </div>
        {{ form_end(registrationForm) }}
        <div>
            <p>Vous avez déjà un compte? <a href="{{ path('app_login') }}">Connectez-vous</a></p>
        </div>
    </main>
{% endblock %}
