{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/authentication.css') }}">
{% endblock %}
{% block body %}
    <main>
        {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <div class="title">
            <img src="{{ asset('icons/logo.png') }}" alt="" class="logo">
            <h1>WorkFlow</h1>
        </div>
        <h2>Mot de passe oublié?</h2>

    {{ form_start(requestForm, {'attr': {'novalidate':'novalidate'}}) }}
        <div class="form-row">
            <div class="form-column">
                {{ form_widget(requestForm.method) }}
                {{ form_errors(requestForm.method) }}
            </div>
        </div>
        <div class="form-row" id="emailField">
            <div class="form-column">
                {{ form_label(requestForm.email) }}
                {{ form_widget(requestForm.email) }}
                {{ form_errors(requestForm.email) }}

            </div>
        </div>

        <div class="form-row" id="phoneField" style="display: none;">
            <div class="form-column">
                {{ form_label(requestForm.phone) }}
                {{ form_widget(requestForm.phone) }}
                {{ form_errors(requestForm.phone) }}
            </div>
        </div>

        <button class="btn btn-primary mt-3">Envoyer le lien de réinitialisation</button>
    {{ form_end(requestForm) }}
    </main>
    <script>
        const emailField = document.querySelector('#emailField');
        const emailSelector = document.querySelector('#reset_password_request_form_method_0');
        const phoneField = document.querySelector('#phoneField');
        const phoneSelector = document.querySelector('#reset_password_request_form_method_1');

        emailSelector.addEventListener('click', function() {
            emailField.style.display = 'block';
            phoneField.style.display = 'none';
        });
        phoneSelector.addEventListener('click', function() {
            emailField.style.display = 'none';
            phoneField.style.display = 'block';
        });

        window.addEventListener('load', function() {
            if (emailSelector.checked) {
                emailField.style.display = 'block';
                phoneField.style.display = 'none';
            } else if (phoneSelector.checked) {
                emailField.style.display = 'none';
                phoneField.style.display = 'block';
            }
        });
    </script>
{% endblock %}
