{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/layout.css') }}">
{% endblock stylesheets %}

{% block body %}
    <div class="sidenav">
        <div class="nav-profile">
            <img class="nav-profile-img" src="{{ app.user.imageUrl }}" alt="">
            <h5 class="nav-profile-name">{{ app.user.firstName }} {{ app.user.lastName }}</h5>
        </div>
        <hr class="nav-hr">
        <a class="nav-item nav-link" href="#">Dashboard</a>
        <a class="nav-item nav-link" href="#">Départements</a>
        <a class="nav-item nav-link" href="#">Projets</a>
        <a class="nav-item nav-link" href="#">Employés</a>
        <a class="nav-item nav-link" href="#">Formations</a>
        <a class="nav-item nav-link" href="#">Evénements</a>
        <a class="nav-item nav-link" href="#">Offre d'emplois</a>
        <a class="nav-item nav-link" href="#">Candidatures</a>
        <a class="nav-item nav-link" href="#">Congés</a>
        <a class="nav-item nav-link" href="#">Réclamations</a>
        <a class="nav-item nav-link nav-disconnect" href="{{ path('app_logout') }}">Se Déconnecter</a>
    </div>
    {% block main %}{% endblock %}
{% endblock body %}