{% extends 'layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/dashboard.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/dashboard.js') }}"></script>
{% endblock %}
{% block main %}
<main>
    <div class="left">
        <h4 style="font-weight: 700;">Bonjour, {{app.user.first_name}}</h4>
        <div class="task-container">
            <h5 style="font-weight: 500;">Mes Tâches</h5>
            {% for task in tasks %}
                <div class="task-item">
                    <img src="{{task.user.image_url}}" alt="">
                    <h6>{{task.user.first_name}}</h6>
                    <span></span>
                    <h6>{{task.title}}</h6>
                    <h6 class="task-date">{{task.due_date|date("Y-m-d")}}</h6>
                </div>
            {% endfor %}
            <a href="#" class="task-link">Voir Tous Mes Tâches</a>
        </div>
        <div class="time-container" id="time-container" data-attendances="{{ attendances|map(item => {'id': item.id, 'date':item.date|date('Y-m-d'), 'entry_time': item.entry_time|date('H:i:s'), 'exit_time': item.exit_time|date('H:i:s')})|json_encode }}">
            <h5 style="font-weight: 500;">Heures De Travail</h5>
            <div class="time-grid">
                <h5 class="time-hour" style="grid-row: 1;">8H</h5>
                <h5 class="time-hour" style="grid-row: 2;">6H</h5>
                <h5 class="time-hour" style="grid-row: 3;">4H</h5>
                <h5 class="time-hour" style="grid-row: 4;">2H</h5>
                <h5 class="time-hour" style="grid-row: 5;">0H</h5>
                <h5 class="time-date" style="grid-column: 2;">1</h5>
                <h5 class="time-date" style="grid-column: 3;">2</h5>
                <h5 class="time-date" style="grid-column: 4;">3</h5>
                <h5 class="time-date" style="grid-column: 5;">4</h5>
                <h5 class="time-date" style="grid-column: 6;">5</h5>
                <h5 class="time-date" style="grid-column: 7;">6</h5>
                <h5 class="time-date" style="grid-column: 8;">7</h5>
                <span class="time-line" id="time-line" style="grid-column: 2;"></span>
                <span class="time-line" id="time-line" style="grid-column: 3;"></span>
                <span class="time-line" id="time-line" style="grid-column: 4;"></span>
                <span class="time-line" id="time-line" style="grid-column: 5;"></span>
                <span class="time-line" id="time-line" style="grid-column: 6;"></span>
                <span class="time-line" id="time-line" style="grid-column: 7;"></span>
                <span class="time-line" id="time-line" style="grid-column: 8;"></span>
                <span class="time-line time-line-bg" style="grid-column: 2;"></span>
                <span class="time-line time-line-bg" style="grid-column: 3;"></span>
                <span class="time-line time-line-bg" style="grid-column: 4;"></span>
                <span class="time-line time-line-bg" style="grid-column: 5;"></span>
                <span class="time-line time-line-bg" style="grid-column: 6;"></span>
                <span class="time-line time-line-bg" style="grid-column: 7;"></span>
                <span class="time-line time-line-bg" style="grid-column: 8;"></span>
                <span class="time-bg-line" style="grid-row: 1;"></span>
                <span class="time-bg-line" style="grid-row: 2;"></span>
                <span class="time-bg-line" style="grid-row: 3;"></span>
                <span class="time-bg-line" style="grid-row: 4;"></span>
                <span class="time-bg-line" style="grid-row: 5;"></span>
            </div>
        </div>
    </div>
    <div class="right">
        <h4 style="font-weight: 700;"></h4>
        <div class="card-container">
            <div class="card">
                <div class="card-title">
                    <span class="material-symbols-outlined">beach_access</span>
                    <p class="card-title-color">{{ 30 - conges|length }}</p>
                    <p class="card-title-text">Jours</p>
                </div>
                <p>Congés disponibles</p>
                <button class="btn btn-primary" onclick=location.href='{{path('app_conge_index')}}'>Demander un congé</button>
            </div>
            <div class="card">
                <div class="card-title">
                    <span class="material-symbols-outlined">edit</span>
                    <p class="card-title-color">{{ reclamations|length }}</p>
                    <p class="card-title-text">Réclamations</p>
                </div>
                <p>Ouvertes</p>
                <button class="btn btn-primary">Créer une réclamation</button>
            </div>
            <div class="card" style="flex-basis: 100%;">
                <div class="card-title">
                    <span class="material-symbols-outlined">calendar_month</span>
                    <p class="card-title-color">{{ reservations|length }}</p>
                    <p class="card-title-text">Evénements</p>
                </div>
                <p>Réservés</p>
                <button class="btn btn-primary">Réservér une place</button>
            </div>
            <div class="card">
                <div class="card-title">
                    <span class="material-symbols-outlined">quiz</span>
                    <p class="card-title-color">{{ inscriptions|length }}</p>
                    <p class="card-title-text">Formations</p>
                </div>
                <p>Inscrits</p>
                <button class="btn btn-primary">S'inscrire à une formation</button>
            </div>
        </div>
        <h4 style="font-weight: 700;" id="month"></h4>
        <div class="week-container">
            <div class="week-day"><p></p><p></p></div>
            <span class="week-seperator"></span>
            <div class="week-day"><p></p><p></p></div>
            <span class="week-seperator"></span>
            <div class="week-day"><p></p><p></p></div>
            <span class="week-seperator"></span>
            <div class="week-day"><p></p><p></p></div>
            <span class="week-seperator"></span>
            <div class="week-day"><p></p><p></p></div>
            <span class="week-seperator"></span>
            <div class="week-day"><p></p><p></p></div>
            <span class="week-seperator"></span>
            <div class="week-day"><p></p><p></p></div>
        </div>
        <h4 style="font-weight: 700;">Evénements à venir</h4>
        {# <div class="event-container"> #}
            {% for event in events %}
                <div class="event-item">
                    <p class="event-date">{{ event.DateAndTime|date("d") }}</p>
                    <div class="event-text">
                        <p class="event-title">{{event.Title}}</p>
                        <p class="event-description">{{event.Description}}</p>
                    </div>
                    <p class="event-time">{{ event.DateAndTime|date("H:i") }}</p>
                </div>
            {% endfor %}
        {# </div> #}
    </div>
</main>
{% endblock %}