{% extends 'layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/edit_profile.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/edit_profile.js') }}"></script>
{% endblock %}
{% block main %}
    <main>
        <div class="left">
            <h3>Modifier votre profil</h3>
            <div class="container">
                <form action="{{ path('app_user_edit_profile') }}" onsubmit="uploadImage(event)" method="post" enctype="multipart/form-data" id="edit-profile-form">
                    <div class="form-row header">
                        <label for="imageInput">
                            <input type="file" onchange="previewImage(event)" name="imageInput" id="imageInput" accept="image/*" style="display:none;"/>
                            <img src="{{ app.user.image_url }}" id="preview">
                        </label>
                    </div>
                    <input type="hidden" name="image_url" id="image-url" value="{{ app.user.image_url }}">
                    {% for flash_error in app.flashes('edit_profile_error') %}
                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                    {% endfor %}
                    <div class="form-row">
                        <div class="form-column">
                            <label for="nom" class="col-form-label">Nom</label>
                            <input type="text" name="nom" placeholder="Nom" required value="{{ app.user.last_name }}" class="form-control">
                        </div>
                        <div class="form-column">
                            <label for="prenom" class="col-form-label">Prenom</label>
                            <input type="text" name="prenom" placeholder="Prenom" required value="{{ app.user.first_name }}" class="form-control">
                        </div>
                    </div>
                        <div class="form-row">
                            <div class="form-column">
                                <label for="email" class="col-form-label">Email</label>
                                <input type="email" name="email" placeholder="Email" required value="{{ app.user.email }}" class="form-control">
                            </div>
                            <div class="form-column">
                                <label for="number" class="col-form-label">Numéro de téléphone</label>
                                <input type="tel" name="number" placeholder="Numéro" required value="{{ app.user.number }}" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-column">
                                <label for="gouvernorat" class="col-form-label">Gouvernorat</label>
                                <select class="form-select" name="gouvernorat" id="gouvernorat" placeholder="Sélectionnez une délégation">
                                    <option value="" {% if app.user.gouvernorat == null %}selected{% endif %}>Selectionner une délégation</option>
                                    {% for gouvernorat in gouvernorats %}
                                        <option value="{{ gouvernorat }}" {% if app.user.gouvernorat == gouvernorat %}selected{% endif %}>{{ gouvernorat }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-column">
                                <label for="address" class="col-form-label">Address</label>
                                <input type="address" name="address" placeholder="Address" value="{{ app.user.address }}" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-column">
                                <label for="password" class="col-form-label">Mot de passe</label>
                                <div class="password-container">
                                    <input type="password" name="password" placeholder="Password" class="form-control">
                                    <span class="material-symbols-outlined" onclick="togglePassword(event)">visibility</span>
                                </div>
                            </div>
                            <div class="form-column">
                                <label for="confirmation" class="col-form-label">Confirmation du mot de passe</label>
                                <div class="password-container">
                                    <input type="password" name="confirmation" placeholder="Confirmation" class="form-control">
                                    <span class="material-symbols-outlined" onclick="togglePassword(event)">visibility</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-column">
                                <button type="reset" class="btn btn-danger btn-lg">Annuler</button>
                            </div>
                            <div class="form-column">
                                <button type="submit" class="btn btn-success btn-lg">Confirmer</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <div class="right">
            <h3>Sécurité</h3>
            <div class="container">
                <h5>Authentification à deux factuers</h5>
                <div class="d-flex flex-row gap-2">
                    <p>L'authentification à deux facteurs ajoute une couche de sécurité supplémentaire à votre compteen exigeant plus qu'un simple mot de passe pour vous connecter.</p>
                    <button id="auth-btn" data-enableurl="{{ path('enable_2fa') }}" data-disableurl="{{ path('disable_2fa') }}" onclick="enable2fa()">Activer</button>
                </div>
                <img src="" alt="" id="qrcode" style="display: none;" data-secret="{{ app.user.googleAuthenticatorSecret }}">
            </div>
        </div>
    </main>
{% endblock %}