{% extends 'layout.html.twig' %}

{% block title %}Employés{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/user.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#employeesTable').DataTable({
                "language": {
                    "search": "Rechercher:",
                    "lengthMenu": "Afficher _MENU_ entrées",
                    "info": "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
                    "paginate": {
                        "first": "Premier",
                        "last": "Dernier",
                        "next": "Suivant",
                        "previous": "Précédent"
                    }
                },
                "order": [[0, "asc"]], // Default sorting by "Nom et Email"
                "columnDefs": [
                    { "orderable": false, "targets": [3] } // Disable sorting for the "Actions" column
                ]
            });
        });
    </script>
    
{% endblock %}

{% block main %}
    <main>
        {% for flash_error in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <h2 class="title">Liste des employés</h2>
        <table id="employeesTable" class="display">
            <thead>
                <th>Nom et Email</th>
                {# <th>Email</th> #}
                <th>Département</th>
                <th>Role</th>
                <th></th>
            </thead>
            <tbody>
                {% set verifiedUsers = users|filter(user => user.is_verified == 1) %}
                {% set nonVerifiedUsers = users|filter(user => user.is_verified == 0) %}

                {% if nonVerifiedUsers is empty == false %}
                    <tr>
                        <td colspan="5" class="td-title">Employés en attente de validation</td>
                    </tr>
                {% endif %}

                {% for user in nonVerifiedUsers %}
                    <tr class="user-pending"><form action="{{ path('app_user_accept', { id: user.id }) }}" method="post">
                        <td>
                            <div>
                                <img src="{{user.imageUrl}}" alt="">
                                <div>
                                    <p class="name-text">{{ user.first_name }}</p>
                                    <p class="email-text">{{ user.email }}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <select name="department" id="department" required autocomplete="off">
                                <option value="" disabled selected>Département</option>
                                {% for department in departments %}
                                    <option value="{{ department.id }}">{{ department.Name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="role" id="role" required autocomplete="off">
                                <option value="" disabled selected>Role</option>
                                <option value="">Employé</option>
                                <option value="ROLE_RESPONSABLE">Responsable</option>
                            </select>
                        </td>
                        <td class="d-flex flex-row gap-2">
                            <button type="submit" class="btn btn-sm btn-success">Accepter</button>
                            <button class="btn btn-sm btn-danger" onclick=location.href="{{ path('app_user_deny', { id: user.id }) }}">Refuser</button>
                        </td>
                    </form></tr>
                {% endfor %}

                {% if nonVerifiedUsers is empty == false %}
                    <tr>
                        <td colspan="5" class="td-title">Employés validés</td>
                    </tr>
                {% endif %}

                {% for user in verifiedUsers %}
                    <tr>
                        <td>
                            <div>
                                <img src="{{user.imageUrl}}" alt="">
                                <div>
                                    <p class="name-text">{{ user.first_name }}</p>
                                    <a class="email-text" href="mailto:{{ user.email }}">{{ user.email }}</a>
                                </div>
                            </div>
                        </td>
                        <td>{{ user.department.Name }}</td>
                        <td>
                            {% if 'ROLE_RESPONSABLE' in user.roles %}
                                Responsable
                            {% else %}
                                Employé
                            {% endif %}
                        </td>
                        <td>
                            {# {% if user.id != app.user.id %}
                                <button class="btn btn-sm btn-secondary">Modifier</button>
                            {% endif %} #}
                            <div class="dropdown">
                                <a class="material-symbols-outlined" href="#" role="button" id="dropdownMenuLink{{ user.id }}" data-bs-toggle="dropdown" aria-expanded="false">more_vert</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink{{ user.id }}">
                                    <li><a class="dropdown-item" href="#">Modifier</a></li>
                                    <li><a class="dropdown-item" href="#">Supprimer</a></li>
                                </ul>
                            </div>
                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
